<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<div class="container bootstrap snippet">
 
    <div class="row">
  		<div class="col-sm-10"><h1>{{facultyinfo.username}}</h1></div>
    	
    </div>

    
               
          
          
          
          
               
          
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Faculty Details</a></li>
                
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              
                  <form class="form" action="##" method="post" id="registrationForm" (ngSubmit)="editProfile()">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="firstname"><h4>First name</h4></label>
                              <input type="text" [(ngModel)]="facultyinfo.username" [ngModelOptions]="{standalone: true}"  class="form-control" name="firstname" id="firstname" placeholder="first name" title="enter your first name if any." [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" >
                              <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                <div *ngIf="f.firstname.errors.required">Name is required ,Min Length 3</div>
                            </div>
                      </div>
                    </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="Last name"><h4>Last name</h4></label>
                            <input type="text" [(ngModel)]="facultyinfo.lname" [ngModelOptions]="{standalone: true}"  class="form-control" name="Last name" id="Last name" placeholder="Last name" title="enter your first name if any." [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" >
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                              <div *ngIf="f.lastName.errors.required">lastName is required</div>
                          </div>
                      </div>
                    </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" [ngModelOptions]="{standalone: true}"class="form-control" [(ngModel)]="facultyinfo.phone_number"  name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any." [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Phone number required :valid formats XXX-XXX-XXXX, XXX.XXX.XXXX, XXX XXX XXXX </div>
                            </div>
                      </div>
                    </div>
                      
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="facultyinfo.user_email"  class="form-control"  name="email" id="email" placeholder="you@email.com" title="enter your email." [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                      </div>
                    </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="skills"><h4>Skills</h4></label>
                              <input type="skills"[(ngModel)]="facultyinfo.skills" [ngModelOptions]="{standalone: true}" class="form-control" id="skills" placeholder="Enter your skills" title="skills"  [ngClass]="{ 'is-invalid': submitted && f.skills.errors }">
                          </div>
                      </div>

					  <div class="form-group">
					  <div class="col-xs-6">
                        <label for="Coursehandling">Course Handling</label>
                        <select [(ngModel)]="facultyinfo.coursehandling"  id="coursehandling" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                          <option selected>Choose...</option>
                          
                          <option value="AdvancedProgramming">Advanced Programming</option>
                    <option value="Advanced C++ Programming">Advanced C++ Programming</option>
                    <option value="ASP.NET Programming">ASP.NET Programming></option>
                    
                    <option value="Cloud infrastructure & servces" >Cloud infrastructure & servces</option>
                    <option value="Backup Recovery Systems and Architecture" >Backup Recovery Systems and Architecture</option>
                    <option value="Building Information Modeling using Autodesk Revit" >Building Information Modeling using Autodesk Revit</option>
                    
                    <option value="C# & ADO.Net Programming" >C# & ADO.Net Programming</option>
                    
                    <option value="DATA SCIENCE AND BIG DATA ANALYTICS" >DATA SCIENCE AND BIG DATA ANALYTICS</option>
                    
                    <option value="Digital Literacy (IT for Non-IT Professionals)" >Digital Literacy (IT for Non-IT Professionals)</option>
                    <option value="Digital Prototyping using Autodesk Inventor" >Digital Prototyping using Autodesk Inventor</option>
                    <option value="Digital Signal Processing" >Digital Signal Processing</option>
                    <option value="Embedded System Design using LabView" >Embedded System Design using LabView</option>
                    <option value="Foundation Skills in IT" >Foundation Skills in IT</option>
                    <option value="Information Storage and Management" >Information Storage and Management</option>
                    <option value="J2EE Programming" >J2EE Programming</option>
                    <option value="PHP with MySQL" >PHP with MySQL</option>
                    <option value="Multicore Programming" >Multicore Programming</option>
                   
                    <option value="Software Testing" >Software Testing</option>
                    <option value="SQL and PL/SQL Programming" >SQL and PL/SQL Programming</option>
                    <option value="VLSI" >VLSI</option>
                    <option value="Web Designing and Scripting" >Web Designing and Scripting</option>
                    
                  
                        </select>
                      </div>
                      
                      
					</div>
					   <div class="form-group">
              <div class="col-xs-6">
                            <label>Month & Year of joining ICT </label> 
                            <!-- <mat-form-field class="example-full-width">
                                <input matInput [matDatepicker] ="datepicker"  [min]="minDate"  class="form-control" >
                                
                                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker></mat-datepicker>
                                <input type=>
                                
                              </mat-form-field> -->
                              <input type="date" [(ngModel)]="facultyinfo.dateofjoining" [ngModelOptions]="{standalone: true}"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.coursehandling.errors }" >
							</div>
             </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password"  [(ngModel)]="facultyinfo.password" [ngModelOptions]="{standalone: true}" class="form-control" name="password" id="password" placeholder="password" title="enter your password."  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors">Minimum 8 characters, at least one uppercase, and one lower case, must contain at least one number,one SPECIAL char</div>
                            </div>
                            </div>
                          </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" [(ngModel)]="facultyinfo.password" [ngModelOptions]="{standalone: true}" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2." [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                                
                                  <!-- <button type="submit">Submit</button> -->

                                
                                
                                
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
                    </form>
              
              
              
            
          
                    
    
  

                                 
